@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100");
body {
  background: linear-gradient(to bottom, #222, #111);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body:before {
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: multiply;
  opacity: 0.5;
  font-family: "Roboto Mono", monospace;
  content: "DRAW";
  color: #fff;
  font-size: 20vw;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
