.header {
    /*    height: 10vh;*/
        position: relative;
    width: 100vw;
    border: 1px solid;
    z-index: 9999;

}

.inner-header {
        background: #fff0;
    position: fixed;
/*    background: #;*/
    width: 100vw;
/*    border: 1px solid;*/
    height: 11vh;
    padding: 2vh 5vh;
    display: flex;
    justify-content: space-between;
}

.inner-header .logo {
    width: 100px;
    height: auto;
}

.inner-header .menu {
    width: 70px;
    height: 70px;
    border: 1px solid #1B1B1B;
    border-radius: 50%;
}

.inner-header .menu h4 {
    margin: 0 auto;
    text-align: center;
    line-height: 70px;
    font-family: 'Founders Grotesk'
    color:#1B1B1B;
    font-size: 14px;
    font-weight: 400;
}

#contents {}
#section1 {
    padding-top: 14vh;
    padding-left:5vw;
    padding-right:5vw;
    box-sizing: border-box;
    width: 100vw;
    background: #f4f0ec;
}
.sec1{
    margin: 5vh 0;
    height: 150vh;
}
.sec1 .mtext{
    font-family: 'Canela';
    font-size: 11vw;
    text-align: center;
    line-height: 1;
      color:#1B1B1B;
        z-index: 30;
}
.sec1 .photobox{
    width: 50vw;
    height: 60vh;
    background: url(../img/sectionphoto1.jpg) no-repeat 50%;
    margin: -6vh auto;
}

.sec1 .mtext2{
    font-family: 'Canela';
    font-size: 11vw;
    text-align: center;
    line-height: 1;
      color:#1B1B1B;
        z-index: 31;
    margin: -3vh auto;
}
.sec1 .arrow{
    width: 60px;
    height: 90px;
    margin: 9vh auto;
    background: url(../img/arrow.svg) no-repeat 50%;
}

#section2 {
    padding-top: 14vh;
    padding-left:5vw;
    padding-right:5vw;
    box-sizing: border-box;
    width: 100vw;
    background: #fff;
}
.sec2{
    margin: 3vh 0;
    height: 200vh;
    background: #fff;
}
.sec2 .flex-box{
    width: 100vw;
    margin: 0 auto;
    text-align: center;
     font-family: 'Canela';
    font-size: 8vw;
    text-align: center;
    line-height: 1.2;
      color:#1B1B1B;
    font-weight: 100;
    
}
.sec2 .flex-box .t-flex1{
   display: flex;
    justify-content:center;
}
.sec2 .flex-box .t-flex1 img{
border: 1px solid;
    width: 280px;
    height: 120px;
/*    margin-top: -20px;*/
}
.sec2 .flex-box .t-flex1 .text{
margin: 0 40px;
}
.sec2 .flex-box .t-flex1 .textIta{
color: #9ebdae;
    font-family: 'canela';
    font-style: italic;
}

.sec2 .flex-box .t-flex2{
   display: flex;
    justify-content:center;
}


.sec2 .flex-box .t-flex2 img{
border: 1px solid;
    width: 280px;
    height: 120px;
    margin-top: -20px;
}